<main class="container container-fluid mt-5">
  <div class="flex-column justify-space-around">
    <div class="container">
      <div class="container-1">
        <div style="margin-top: 20px;" class="jumbotron text-center" id="jumbo-1">
          <h1 class="display-4">One Track <span role="img" aria-label="Memo">&#9856;</span></h1>
          <div class="input">
            <input type="email" class="form-control" id="email" placeholder="Email" aria-label=""
              aria-describedby="basic-addon1">
            <input type="password" class="form-control" id="password" placeholder="Password" aria-label=""
              aria-describedby="basic-addon1">
            <a class="btn btn-primary btn-lg mt-4" href="/" role="button" id="log-in">Log In</a>
            <a class="btn btn-primary btn-lg mt-4" href="/login" role="button" id="sign-up">Sign Up</a>
          </div>
        </div>
      </div>
      <div class="container-2">
        <div style="margin-top: 20px;" class="jumbotron text-center" id="jumbo-2">
          <h1 class="display-4">Search <span role="img" aria-label="Memo">&#9782;</span></h1>
          <form id="search-form" class="form">
            <select id="type" class="form-input">
              <option value="" disabled selected>Select an option</option>
              <option value="track">Song</option>
              <option value="artist">Artist</option>
              <option value="album">Album</option>
            </select>
            <input id="userInput" class="form-input w-100" type="text" placeholder="Royals, Beck, R&B">
            <input class="btn btn-info btn-block" type="submit" id="searchBtn" text="Search">
          </form>
        </div>
      </div>
      <div class="container-3">
        <div style="margin-top: 20px;" class="jumbotron text-center" id="jumbo-3">
          <h1 class="display-4">On the Rise <span role="img" id="on-rise-symbol" aria-label="Memo">&#10064;</span></h1>
          <div>Jack Harlow</div>
          <div>Arlo Parks</div>
          <div>347aidan</div>
        </div>
      </div>

      <div class="container-4">
        <div style="margin-top: 20px;" class="jumbotron text-center" id="jumbo-4">
          <div class="slideshow-container">
            <!-- Full-width images with number and caption text -->
            <div class="mySlides1">
              <img id="home-images"
                src="https://cdn.allfamous.org/people/avatars/jack-harlow-licu-allfamous.org.jpg?v=43" width=200;
                height=200; alt="Jack Harlow">
            </div>
            <div class="mySlides1">
              <img id="home-images" src="https://thefortyfive.com/wp-content/uploads/Arlo-Parks-1-scaled.jpg" width=200;
                height=200; alt="Arlo Parks">
            </div>
            <div class="mySlides1">
              <img id="home-images" src="https://yhstars.com/wp-content/uploads/2020/11/347aidan.png" width=200;
                height=200; alt="347aidan">
            </div>
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
            <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer class="footer-home">
  <p class="copyrights">One Track @ 2021 <span class="footer-api">3P API: Spotify</span></p>
</footer>

<script src="/js/homepage.js"></script>