<!-- Loop over each object in the projects array -->
{{#each tracks as |track| }}
<div class="row mb-4 blog">
  <div class="col-md-5">
    <h2>    
      <a href="/tracks/{{track.id}}">{{track.title}}</a>
    </h2>
  </div>
  <div class="col-md-7">
    <p>
      {{track.artist}}
    </p>
  </div>
</div>
{{/each}}
