<head>
  <link rel="stylesheet" href="/css/profile.css">
</head>

<div class="row">
  <div class="col-auto">
    <h2 class="profile-name">{{name}}</h2>
  </div>
</div>

<main>
  <section class="row justify-center">
    <div class="card-column">
      <figure class="card code-card" id="card-figure">
        <h2 class="card-header">Without Me</h2>
        <div class="card-body">
          <img id="album" src="https://upload.wikimedia.org/wikipedia/en/3/35/The_Eminem_Show.jpg" width="200" height="200"></img>
          <p id="artist">Eminem</p>
        </div>
        <button type="button" class="btn btn-info" id="delete-track">Delete</button>
      </figure>
    </div>
    <div class="card-column">
      <figure class="card code-card">
        <h2 class="card-header">Wow</h2>
        <div class="card-body">
          <p id="artist">Beck</p>
        </div>
        <pre class="code-block"><code>Colors</code></pre>
      </figure>
    </div>

    <div class="card-column">
      <figure class="card code-card">
        <h2 class="card-header">Immigrant Song</h2>
        <div class="card-body">
          <p id="artist">Led Zeppelin</p>
        </div>
        <pre class="code-block"><code>The Early Days</code></pre>
      </figure>
    </div>
    <div class="card-column">
      <figure class="card code-card">
        <h2 class="card-header">Royals</h2>
        <div class="card-body">
          <p id="artist">Lorde</p>
        </div>
        <pre class="code-block"><code>Pure Heroine</code></pre>
      </figure>
    </div>
    <div class="card-column">
      <figure class="card code-card">
        <h2 class="card-header">Slow Hands</h2>
        <div class="card-body">
          <p id="artist">Niall Horan</p>
        </div>
        <pre class="code-block"><code>Flicker</code></pre>
      </figure>
    </div>

    <div class="card-column">
      <figure class="card code-card">
        <h2 class="card-header">We Will Rock You</h2>
        <div class="card-body">
          <p id="artist">Queen</p>
        </div>
        <pre class="code-block"><code>Greatest Hits</code></pre>
      </figure>
    </div>
  </section>
</main>


<script src="./js/profile.js"></script>

{{!-- <div class="row mt-4">
  <div class="col-md-6">
    <h3>Create New Library:</h3>

    <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-name">track name:</label>
        <input class="form-input" type="text" id="blog-name" name="blog-name" />
      </div>
      <div class="form-group">
        <label for="blog-desc">artist:</label>
        <textarea class="form-input" id="blog-desc" name="blog-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div> --}}

  {{!-- {{#if tracks.length}}
  <div class="col-md-6 project-list">
    <h3>Current Tracks:</h3>

    {{#each tracks as |track|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blog/{{track.id}}">{{track.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{track.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div> --}}