<!--container for search form, redirect btn, and tracks table -->
<div class="container-fluid">
    <div class="row" id="table-row">
        <div class="col-4 list-container">
            <div class="card">
                <!-- search form -->
                <form id="search-form-tracks" class="form">
                    <select id="type" class="form-input">
                        <option value="" disabled selected>Select an option</option>
                        <option value="track">Song</option>
                        <option value="artist">Artist</option>
                    </select>
                    <input id="userInput" class="form-input w-100" type="text" placeholder="Africa, Adele">
                    <input class="btn btn-info btn-block" type="submit" id="searchBtn" text="Search">
                </form>
                <!-- conditional page redirects -->
                {{#if logged_in}}
                <a class="btn btn-primary btn-lg mt-4" href="/profile" role="button" id="sign-up-tracks">View saved
                    tracks</a>
                {{else}}
                <a class="btn btn-primary btn-lg mt-4" href="/login" role="button" id="sign-up-tracks">Log in to save
                    tracks</a>
                {{/if}}
            </div>
        </div>
        <!-- table from Spotify api call gets appended here -->
        <div class="col-8">
            <table class="table table-striped table-hover table-bordered">
                <thead id="thead" class="library-thead">

                </thead>
                <tbody id="tbody">

                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/js/tracks.js"> </script>