<div class="container-fluid">
    <div class="row">
        <div class="col-4 list-container">
            <div class="card">
                <form id="search-form-tracks" class="form">
                    <select id="type" class="form-input">
                        <option value="" disabled selected>Select an option</option>
                        <option value="track">Song</option>
                        <option value="artist">Artist</option>
                    </select>
                    <input id="userInput" class="form-input w-100" type="text" placeholder="Africa, A$AP Rocky">
                   <input class="btn btn-info btn-block" type="submit" id="searchBtn" text="Search">
                </form>
                <ul class="list-group">
                    <!-- Saved tracks get appended here -->
                </ul>
            </div>
        </div>
        <div class="col-8">
            <!-- Table from Spotify api call goes here -->
            <table class="table table-striped table-hover table-bordered">
                <thead id="thead" class="library-thead">
                   
                </thead>
                <tbody id="tbody">
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/js/tracks.js"> </script>