* {
  box-sizing: border-box;
}

body {
  font-family: 'Croissant One', cursive;
  background-color: gainsboro;
}

.profile-name {
  text-align: center;
  margin-top: 5%;
}

.profile-nav {
    color: white;
    font-size: 20px;
    padding-right: 100px;
  }
  
  .profile-nav:hover {
    color:rgb(238, 113, 227);
    text-decoration: none;
  }
  
  .log-out-nav {
    background: none;
    border: none;
    cursor: pointer;
    color:white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .log-out-nav:hover {
    color: rgb(238, 113, 227)
  }

:root {
    --primary: black;
    --secondary: rgb(238, 113, 227);
    --tertiary: rgb(81, 216, 216);
    --background: gainsboro;
  }

  main {
    width: 96%;
    margin: 2rem auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .card-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
  }
  
  .code-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 70%;
    padding: 2rem;
    color: var(--secondary);
    border: 3px solid var(--primary);
    outline-offset: -2px;
    background-color: var(--background);
    border-radius: 5px;
  }
  
  .code-card .card-header {
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
  }

  .code-card .code-block {
    flex-grow: 1;
  }

  #artist {
    text-align: center;
    color: black;
    margin-top: 10px;
  }

  #album {
    text-align: center;
    margin-left: 12%;
    margin-right: 12%;
  }
  
  .code-card pre {
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    padding: 1.2rem 1rem;
    color: var(--background);
    border-radius: 8px;
    display: flex;
    align-items: center;
  }

  .code-card pre:active {
    user-select: all;
  }
  
  @media screen and (min-width: 768px) {
    .card-column {
      flex: 0 0 50%;
      max-width: 50%;
    }
      .card-column:last-child {
      flex-grow: 1;
    }
  }
  
  @media screen and (min-width: 992px) {
    .card-column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }

  @media screen and (max-width: 600px) {
    .one-track-nav {
      font-size: 25px;
    }
  } 
  
  @media screen and (max-width: 600px) {
    .profile-nav, .log-in-nav, .tracks-nav, .log-out-nav {
      font-size: 16px;
    }
  } 

  @media screen and (max-width: 600px) {
    #album {
      margin-left: 25%;
    }
  } 