* {
  box-sizing: border-box;
}

body {
  font-family: 'Croissant One', cursive;
  background-color: gainsboro;
}

#header-nav {
  background-color: black;
  height: 150px;
  border-bottom: solid 20px rgb(238, 113, 227)
}

.one-track-nav {
  color: white;
  margin-left: 20px;
}

.one-track-nav:hover {
  color:rgb(238, 113, 227);
  text-decoration: none;
}

.tracks-nav {
  color: white;
  font-size: 20px;
  margin-left: -10%;
  padding-right: 50px;
}

.tracks-nav:hover {
  color:rgb(81, 216, 216);
  text-decoration: none;
}

.log-in-nav {
  font-size: 20px;
  color: white
}

.log-in-nav:hover {
  color:rgb(238, 113, 227);
  text-decoration: none;
}

.container {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.jumbotron {
  margin: 3%;
  border: solid black 5px; 
  border-radius: 20px;
}

#jumbo-1 {
  background-color: rgb(238, 113, 227);
  position: relative;
}

#log-in {
  background-color: black;
  width: 100%;
}

#sign-up {
  background-color: black;
  width: 40%;
  font-size: 15px
}

#log-in:hover {
  color: rgb(238, 113, 227)
}

#sign-up:hover {
  color: rgb(238, 113, 227)
}

#password {
  margin-top: 10px;
}

#jumbo-2 {
  background-color: rgb(81, 216, 216);
  position: relative;
}

#submit-search {
  background-color: black;
  font-size: 20px;
  border: none
}

#submit-search:hover {
  color:rgb(81, 216, 216)
}

#jumbo-3 {
  background-color: black;
  position: relative;
  color: white;
  border: solid 5px rgb(238, 113, 227)
}

/* footer */
.footer-home {
  background-color: black;
  width: 100%;
  height: 125px;
  color: white;
  text-align: center;
  font-size:15px;
  padding:10px;
  margin-top:50px;
  border-top: solid 20px rgb(81, 216, 216);
}

.copyrights {
  margin-top:25px;
}

.api {
  margin-left: 50px
}

@media screen and (max-width: 1000px) {
  .container {
    margin-right: 10%;
    margin-left: 10%;
  }
} 

@media screen and (max-width: 600px) {
  .container {
    margin-right: 5%;
    margin-left: 5%;
  }
} 

