/* header, .blog:not(:last-child) {
  border-bottom: 1px solid #ccc;
} */

body {
  font-family: 'Croissant One', cursive;
}

/* .no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
} */

#header-nav {
  background-color: black;
  height: 150px;
  border-bottom: solid 20px rgb(238, 113, 227)
}

.one-track-nav {
  margin-left: 100px;
  color: white;
}

.one-track-nav:hover {
  color:rgb(238, 113, 227);
  text-decoration: none;
}

.log-in-nav {
  margin-right: 100px;
  font-size: 30px;
  color: white
}

.log-in-nav:hover {
  color:rgb(81, 216, 216);
  text-decoration: none;
}

.container {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.jumbotron {
  margin: 3%;
  border: solid black 5px; 
}

#jumbo-1 {
  background-color: rgb(238, 113, 227);
  position: relative;
}

#log-in {
  background-color: black;
  width: 100%;
}

#sign-up {
  background-color: black;
  width: 30%;
  font-size: 15px
}

#log-in:hover {
  color: rgb(81, 216, 216)
}

#sign-up:hover {
  color: rgb(238, 113, 227)
}

#password {
  margin-top: 10px;
}

#jumbo-2 {
  background-color: rgb(81, 216, 216);
  position: relative;
}

#jumbo-3 {
  background-color: black;
  position: relative;
  color: white;
  border: solid 5px rgb(238, 113, 227)
}

@media screen and (max-width: 900px) {
  #jumbo-2 {
    display: none;
  }
} 

/* footer */
footer {
  background-color: black;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 125px;
  color: white;
  text-align: center;
  font-size:15px;
  padding:10px;
  margin-top:50px;
  border-top: solid 20px rgb(81, 216, 216);
}

.copyrights {
  margin-top:25px;
}

.api {
  margin-left: 50px
}

