header, .blog:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}
.avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.avatar p {
  display: inline;
}
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
[type=radio] + img {
  cursor: pointer;
}
[type=radio]:checked + img {
  outline: 2px solid #f00;
}

